<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Generate User</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header class="main-header">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item">
					<a class="" href="/">Home</a>
				</li>
				<li class="main-header__item">
					<a class="" href="/users">Users</a>
				</li>
			</ul>
		</nav>
	</header>
	<h1>Generate Random User</h1>
	<a href="/add-user" class="btn" >Generate</a>
</body>
</html>